*{
    font-family:'Big Shoulders Display', serif;
}


body > header {
    background-size: 1rem;
    border-radius: 1rem;
    background-color: grey;
    padding:20px 20px 40px 40px;
}



body > header > a img { 
 object-fit: contain;
 width: 4rem;
 height: 4rem;
 object-position: center;
}



body > header > nav {
   display: flex;
   flex: 1;
   justify-content: flex-end;
   gap: 2rem;
}

body > header > nav a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: ;

}
